- const listContacts = [{class: "fas fa-envelope", text: "hello@colorlib.com"},{ text: "Free Shipping for all Order of $99"}];
- const listSocials = ["fab fa-facebook-f", "fab fa-twitter", "fab fa-linkedin-in", "fab fa-pinterest"];
- const listMenu = [{class: "active", content: "Home"}, {class:"", content: "Shop"}, {class:"", content: "Pages", dropdown: ["Shop Details", "Shopping Cart", "Check Out", "Blog Details"]}, {class:"", content: "Blog"}, {class: "", content:"Contact"}];
- const listCarts = [{class: "fas fa-heart", span: '1'}, {class: 'fas fa-shopping-cart', span: '3'}];
- const listDepartments = ['Fresh Meat', 'Vegetables', 'Fruit & Nut Gifts', 'Fresh Berries', 'Ocean Foods', 'Butter & Eggs', 'Fastfood', 'Fresh Onion', 'Papayaya & Crisps', 'Oatmeal', 'Fresh Bananas'];
- const listTitles = [{content:'All', className:'active'}, {content:'Oranges'}, {content:'Fresh Meat'}, {content: 'Vegetables'}, {content: 'Fastfood'}];
- const listIconFeatureds = ['fas fa-heart', 'fas fa-retweet', 'fas fa-shopping-cart'];
- const listImgLatests = ['img/latest-product/lp-1.jpg', 'img/latest-product/lp-2.jpg', 'img/latest-product/lp-3.jpg'];
- const listBlogItems = [{className: 'far fa-calendar', content: 'May 4, 2019'}, {className: 'far fa-comment', content: '5'}];
- const listContactFooters = ['Address: 60-49 Road 11378 New York', 'Phone: +65 11.188.888', 'Email: hello@colorlib.com'];
- const listLinks1 = ['About Us', 'About Our Shop', 'Secure Shopping', 'Delivery infomation', 'Privacy Policy', 'Our Sitemap']; 
- const listLinks2 = ['Who We Are', 'Our Services', 'Projects', 'Contact', 'Innovation', 'Testimonials'];
- const listSocialFooters = ['fab fa-facebook-f', 'fab fa-instagram', 'fab fa-twitter', 'fab fa-pinterest'];