extends ../layouts/default-layout

block home-page
    main
        include ../layouts/hero
        include ../layouts/categories
        include ../layouts/featured
        include ../layouts/banner
        include ../layouts/latest-product
        include ../layouts/blog