// Blog Section

section
    .box
        .blog
            .blog__title.section-title
                h2 From The Blog
            +blog('../../../assets/img/blog/blog-1.jpg', 'Cooking tips make cooking simple', 'Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat', '-item1')
            +blog('../../../assets/img/blog/blog-2.jpg', '6 ways to prepare breakfast for 30', 'Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat', '-item2')
            +blog('../../../assets/img/blog/blog-3.jpg', 'Visit the clean farm in the US', 'Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat', '-item3')
        