// Latest Product Section

section.latest-product
    .box
        .latest-product__content
            +latestProduct('Latest Products')
            +latestProduct('Top Rated Products')
            +latestProduct('Review Products')