@import '../base/mixins';
@import '../components/blog-item';

.blog {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr;
    padding: 50px 0px 40px;

    &__title {
        grid-column: 1/4;

        h2 {
            position: relative;

            &:after {
                @include verticalTiles(0, none, 4px, 80px, #7fad39, 1);
                left: 0;
                bottom: -15px;
                margin: 0 auto;
            }
        }
    }
}