@import '../base/mixins';
@import '../base/placeholders';

footer {
    background: #F3F6FA;
    padding-top: 70px;
    padding-bottom: 0;

    .footer__about {
        flex: 3;

        &__logo {
            margin-bottom: 15px;
        }

        ul {
            li {
                @include fontFooter(16px, 36px);
            }
        }
    }

    .footer__widget {
        flex: 4;
        margin-bottom: 30px;
        overflow: hidden;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px 1fr;

        h6 {
            @extend %footer-h6;
            grid-column: 1/3;
        }

        ul {
            li {
                a {
                    @include fontFooter(14px, 32px);
                }
            }
        }
    }

    .footer__contact {
        flex: 4;

        h6 {
            @extend %footer-h6;
        }

        p {
            @extend %element-a;
            margin-bottom: 30px;
        }

        form {
            position: relative;
            margin-bottom: 30px;

            input {
                width: 100%;
                font-size: 16px;
                padding-left: 20px;
                color: #1c1c1c;
                height: 46px;
                border: 1px solid #ededed;
            }

            button {
                position: absolute;
                right: 0;
                top: 0;
                padding: 0 26px;
                height: 100%;
                transition: all, 0.3s;

                &.footer__contact--btn {
                    @include button(14px, none);
                }

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        &__social {
            a {
                @include circleIcon(16px, #404040, 41px, 41px, #fff, 38px);
                display: inline-block;
                border: 1px solid #ededed;
                transition: all, 0.3s;
                margin-right: 10px;

                &:hover {
                    background: #7fad39;
                    color: #fff;
                    transform: rotate(360deg);
                }
            }
        }

    }
}